*{ 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
.bold-text{
    font-weight: bolder;
}

body{
    display: flex;
    justify-content: center;
    background-color: slategrey;
}

aside, form, .title-box, .card, 
.recipe-card, .recipe-detail-box,
.storage-box{
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 20px;
}

.sidebar{ width: 200px; height: 600px; }

.sidebar a:link{ text-decoration: none; color: steelblue; }
.sidebar a:visited{ color: steelblue; }
.sidebar a:hover{ color: purple; }
.sidebar a:active{ color: purple; }

main{
    width: 800px;
}

h1, h2{
    color: steelblue;
    margin: 20px;
    padding: 10px;
}

ul{
    list-style: none;
}

p{
    margin: 20px;
    padding: 10px;
}


/* This all applies site wide */
form{
    display: flex;
    flex-direction: column;
}
form p {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
 }
form p input {
    height: 25px;
    width: 420px;
}
form input[type=submit]{
     margin: 30px;
     height: 35px;
     font-size: 14px;
     width: 210px;
}


.edit-delete-buttons{ margin: 20px 20px 40px 20px; }
.edit-delete-buttons a{ margin-right: 10px; } 


/* We'll break this out into new files at some point */
/* Stylesheet for RECIPES */
.recipe-card p{
    margin: 0 20px;
    padding: 5px;
}

.recipe-card a:link{ color: steelblue; }
.recipe-card a:visited{ color: steelblue; }
.recipe-card a:hover{ color: purple; }

