*{ box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
body{ display: flex; justify-content: center; background-color: slategrey; }
main{ width: 800px; }
h1, h2{ color: steelblue; margin: 20px; padding: 10px; }
ul{ list-style: none; }
p{ margin: 20px; padding: 10px; }
a{ text-decoration: none; color: purple; }


/*                      */
/*  Style for Sidebar   */
/*                      */
.sidebar{ width: 200px; height: 600px; }
.sidebar a:link{ text-decoration: none; color: steelblue; }
.sidebar a:visited{ color: steelblue; }
.sidebar a:hover{ color: purple; }
.sidebar a:active{ color: purple; }


/*                                  */
/*   basic style for all the cards  */
/*                                  */
aside, form, .title-box, .card, 
.recipe-card, .recipe-detail-box,
.storage-box,
.finance-card, .finance-detail-box,
.grocery-card, 
.inspection-card, .purchase-card, .room-card{
    background-color: whitesmoke;
    border: 1px solid black;
    margin: 20px;
}


/* Custom bold text */
.bold-text{ font-weight: bolder; }

/*                      */
/*   List View Buttons  */
/*                      */
.update-delete-buttons a{
    display: inline-block;
    width: 120px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: silver;
    border: 1px solid black;
    margin: 0 0 30px 30px;
}


/*                  */
/*    CRUD Forms    */
/*                  */
form{
    display: flex;
    flex-direction: column;
}
form p {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
 }
form p input {
    height: 25px;
    width: 420px;
}
form input[type=submit]{
     margin: 30px;
     height: 35px;
     font-size: 14px;
     width: 210px;
}


/*                             */
/*    Stylesheet for RECIPES   */
/*                             */
.recipe-card p{
    margin: 0 20px;
    padding: 5px;
}

.recipe-card a:link{ color: steelblue; }
.recipe-card a:visited{ color: steelblue; }
.recipe-card a:hover{ color: purple; }


/*                            */
/*   Styleshee for FINANCE    */
/*                            */
.finance-card div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.finance-card div:last-child{ margin-bottom: 30px; }
.finance-card p {
    margin: 0 0 5px 30px;
    padding: 0px;
    width: 100px;
}


/*                            */
/*    Styleshee for GROCERY   */
/*                            */
.grocery-card{
    display: flex;
    justify-content: space-between;
}
.grocery-card p{
    width: 140px;
}


/*                            */
/*   Styleshee for HomeDocs   */
/*                            */
.inspection-card{

}

