{% extends 'templates/base.html' %}
{% block content %}

<div class='title-box'>

    <h1>805 ESF - Barnes Home Hidden Wiki</h1>

    {% if user.is_anonymous %}
        <p> Hello, {{ user }} </p>
    {% else %}
        <p>Welcome back, {{ user }} </p>
    {% endif %}
</div>

{% if user.is_anonymous %}
<div class='card'>
    <div>
        <p> You'll need to log in for most things here. </p>
        <p>
            The library is free to access, use the provided credentials. <br>
            You can view and add recipes. <br>
            Or see our grocery habbits if you'd like. <br>
            Some homeDocs are avaliable but redacted. <br>
            Otherwise you'll need Derek to creat a temp root user for you.
        </p>

    </div>
</div>
{% else %}
<div class='card'>
    <div>
        <p>
            If you would like to leave a note on the main page:
            <a href="">click here</a>
        </p>
    </div>
</div>
<div class='card'>
    <div>
        <h2>Tasks in progress:</h2>
        <ul>
            <li>Address book</li>
            <li>Resume templates</li>
            <li>Package tracking / Notifications</li>
            <li>Basic notifications for things like trash day</li>
            <li>Shared calender</li>
            <li>MPL and MT public library cards</li>
        </ul>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
